black
django-jsonfield>=0.9.2,!=0.9.13,!=1.0.0
django-modeldict-yplan>=2.0.0
docutils
flake8
flake8-commas
freezegun
isort
multilint
nexus-yplan>=2.0.0
Pygments
pytest
pytest-cov
pytest-django
pytz
pytz
sqlparse
